html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: white;
}

#top-block {
  z-index:1;
  width: 100%;
  background-color: black;
  height: 100%;
  position: fixed;
  transition: transform;
  pointer-events: none;
}

#bottom-block {
  z-index:1;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 100%;
  position: fixed;
  transition: transform;
  pointer-events: none;
}

#left-block {
  z-index:1;
  left: 0;
  width: 100%;
  background-color: black;
  height: 100%;
  position: fixed;
  transition: transform;
  pointer-events: none;
}

#right-block {
  z-index:1;
  right: 0;
  width: 100%;
  background-color: black;
  height: 100%;
  position: fixed;
  transition: transform;
  pointer-events: none;
}

blocks{
  position: absolute;
}
